{{!-- The structure of the article --}}
{{!-- White rectangle; page title; author; stamp; circle buttons --}}

<h1>{{title}}</h1>
<div class="page-header">
    <div class="left">

        <div class="author-box">
            <img src="/images/avatar.png" alt="Author avatar">
            <span>Author</span>
        </div>

        <img class="stamp" src="/images/stamp.svg" alt="Verified article stamp" />
    </div>


    <div class="circle-buttons">
        <button data-type="heart"> 
            <img src="/images/icons/heart.svg" alt="Like Icon"/>
        </button>

        <button >
            <img src="/images/icons/chat-bubble.svg" alt="Add comment Icon" />
        </button>

        <button >
            <img src="/images/icons/share.svg" alt="share Icon" />
        </button>

        <button data-type="bookmark">
            <img src="/images/icons/bookmark.svg" alt="bookmark Icon" />
        </button>
    </div>
    
</div>