{{!-- Navbar for mobile (icons, search, menu) --}}

<aside class="mobile-nav">
    <header class="mobile-header" role="banner">
        <div class="header-left">
            <a href="/" class="logo" aria-label="Homepage">
                <img src="/images/logo.png" alt="WD - Web Development" width="40" height="40">
            </a>
        </div>

        <div class="header-right">
            <button class="icon-button" aria-label="Search">
                <img src="/images/icons/search.svg" alt="Search icon" width="24" height="24">
            </button>

            <button class="icon-button" aria-label="Menu">
                <img src="/images/icons/menu.svg" alt="Menu icon" width="24" height="24">
            </button>

        </div>
    </header> 
</aside>
